apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pv-claim
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: mina-storage
  resources:
    requests:
      storage: 10Gi
  volumeMode: Filesystem